{%  extends 'blog/base.html' %}
{% block content %}
    <div class  ='container'>
        <div class = 'row'>
            <div class="col-sm-12">
                <h1> {{ post.title }}</h1>
                    <p><img src="{{ post.photo.url }}" /></p>
                {{ post.content|linebreaks }}
                    <ul>
                        {% for comment in post.comment_set.all %}
                            <li>{{ comment.message }} By {{ comment.author }}</li>
                        {% endfor %}
                    </ul>
                <hr/>
                <a href="{% url 'post_list' %}" class="btn btn-primary">
                    목록으로
                </a>
                <a href="{% url 'comment_new' post_pk=post.pk %}" class="btn btn-primary">댓글달기 </a>

            </div>
        </div>
    </div>
{% endblock %}